# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
dist-ssr/
*.local

# IDE files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows
Thumbs.db

# Packages
*.msi
*.zip
*.rar

# Logs
logs/
*.log

# Backend environment
student-management-backend/node_modules/
student-management-frontend/node_modules/
student-management-backend/.env
student-management-frontend/.env

# Mongo Dump
dump/
