# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/
student-management-backend/node_modules/
student-management-frontend/node_modules/

# Build output
dist/
dist-ssr/
student-management-backend/dist/
student-management-frontend/dist/

# Local env
*.local
.env
.env.*
!*.example
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows/Misc
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Installers / Binaries
*.msi
*.exe
*.zip
*.7z
*.rar

# MongoDB dumps
dump/
mongo_dump/

# Temporary
temp/
*.tmp

# DO NOT ignore project folders
# student-management-backend/
# student-management-frontend/
